<html>
<body>

<h1>Twitter Login </h1>

<form action="/username" method="get">
<label for="username">Username: </label>
<input type="text" name="username">
<input type="submit" value="Login!" >
</form> 


</body>
</html>