<html>
<body>

<div class="newpoll" >
    <form action="/createpoll" method="get">
      <h1>Make a new poll!</h1>
    <label for="newpolltitle">Title: </label>
    <input type="text" name="newpolltitle"><br></br>
      <label for="newpolloptions">Options (seperated by line): </label>
      <br></br>  
      <textarea rows="4" name="newpolloptions"></textarea><br></br>
      <input type="submit" value="Make!" >
    </form>
</div>

</body></html>
